.mono-card {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.mono-wide-input {
    width: 100%;
}

.mono-transaction-table {
    width: 100%;
}

.mono-fixed-column {
    width: 70px;
}
