<mat-card class="mono-card">
  <mat-card-subtitle>Monobank API key</mat-card-subtitle>
  <mat-card-content>
    Copy your Monobank API key from <a href="https://api.monobank.ua/" target="_blank">https://api.monobank.ua/</a>.
    Provided API key will be stored on your computer and will be used to perform API request from your computer to
    Monobank servers.
  </mat-card-content>
  <mat-form-field class="mono-wide-input" appearance="fill">
    <mat-label>API key</mat-label>
    <input matInput [formControl]="token">
  </mat-form-field>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="onFetchAcountInfo()">FETCH ACCOUNT INFO</button>
  </mat-card-actions>
</mat-card>

<mat-card class="mono-card" *ngIf="clientInfo">
  <mat-card-subtitle>Owner: {{ clientInfo.name }}</mat-card-subtitle>
  <mat-form-field class="mono-wide-input" appearance="fill">
    <mat-label>Select card or jar</mat-label>
    <mat-select [(ngModel)]="selectedEntity" name="entity">
      <mat-option *ngFor="let entity of clientInfo.cardsAndJars()" [value]="entity">
        {{entity.getShortDescription()}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedEntity">
    <mat-card-subtitle>
      {{ selectedEntity.getShortDescription() }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="selectedEntity.getUrl()">
      <a href="{{ selectedEntity.getUrl() }}" target="_blank">{{ selectedEntity.getUrl() }}</a>
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{ selectedEntity.getBalance() }}
    </mat-card-subtitle>
    <mat-card-subtitle style="white-space: pre-line;">
      {{ selectedEntity.getLongDescription() }}
    </mat-card-subtitle>
  </div>

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="onFetchTransactions()">FETCH FRANSACTIONS</button>
  </mat-card-actions>
</mat-card>

<mat-card class="mono-card" *ngIf="transactions.length > 0">
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8 mono-transaction-table">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element" class="mono-fixed-column"> {{element.getDate()}} </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element" class="mono-fixed-column"> {{element.getTime()}} </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element" class="mono-fixed-column"> {{element.getAmount()}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="transactionsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: transactionsColumns;"></tr>
  </table>
</mat-card>
